* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

::selection {
   background-color: rgba(107, 107, 71, .1);
}

body, html {
   height: 100%;
   text-align: center;
   background-color: #f5f5f0;
}

.parallax {
   /* The image used to inherit */
   background-image: url("../img/greentone.jpg");
   /* background height */
   height: 22%;
   z-index: 1;
   position: relative;
   padding-bottom: 0px;
   overflow: visible;
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.parallax:after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   background: inherit;
   z-index: -1;
   bottom: 0;
   left: 2px;
   transform: skewX(3deg);
}

#main {
   border: 5px solid rgba(56, 38, 25, .4);
   border-radius: 1.2rem;
   box-shadow: 2.5px 1px 1px #6b6b47;
}

h1 {
   font-family: 'Marck Script', cursive;
   text-shadow: 1px 1px 2px #757574;
   font-size: 5rem;
   color: rgba(56, 38, 25, .8)
}

#title, #info-tributo>h2, h3 {
   font-family: 'Marck Script', cursive;
   color: #6b6b47;
   margin-top: 1%;
   font-size: 4vw
}

p {
   font-family: 'Lucida Sans';
   color: #6b6b47;
   font-size: 28px;
   margin-top: -3%;
   line-height: 1;
   text-align: justify;
}

p.content {
   font-family: 'Lucida Sans';
   background-color: #f5f5f0;
   color: #6b6b47;
   margin-top: -5%;
   font-size: 28px;
   padding: 3%;
   line-height: 1.75
}

h1+p {
   text-align: center;
   border: 0;
}

#img-div {
   background-color: #f5f5f0;
   border: 10px solid #ebebe0;
   margin-bottom: 10px;
}

img {
   box-shadow: 5px 10px 8px #a3a375;
   padding: 1%;
   width: 100%;
   height: auto;
   margin: auto
}

@media (max-width:767px) {
   img {
      box-shadow: 5px 10px 8px #a3a375;
      padding: 1%;
      width: 80%;
      height: auto;
      margin: auto
   }
   .parallax {
      /* The image used to inherit */
      background-image: url("../img/greentone.jpg");
      /* background height */
      height: 15%;
      z-index: 1;
      position: relative;
      overflow: visible;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

#img-caption {
   margin: 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: larger;
   color: #6b6b47
}

h3 {
   color: #80806b;
   font-size: 28px
}

#info-tributo>h2 {
   font-size: 54px
}

#info-tributo>p {
   width: 80%;
   margin: 20px auto
}

blockquote {
   color: #31312d;
   font-size: 28px;
   width: 65%;
   margin: auto;
   font-family: 'Marck Script', cursive;
   padding-top: 1.5rem;
   text-shadow: 1px 1px 2px #757574;
   margin-bottom: -8px;
}

a {
   text-decoration: none;
   color: #31312d
}

a:hover {
   background-color: rgba(107, 107, 71, .1);
}

a span {
   height: 1px;
   width: 1px;
   position: absolute;
   overflow: hidden;
   top: -10px;
}
