body{
   margin: 2rem;
    background-color: #f5f5f0;
    text-align: center;
    border: 5px solid rgba(107, 107, 71, .6);
    border-radius: 5rem;
    box-shadow: 3px 3px 5px #6b6b47;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}


#main {
    background-color: #e9e9d3;
    border-radius: 2%;
    border: 1px solid #6b6b47;
    box-shadow: 3px 3px 5px #6b6b47;
}
h1 {
   font-family: 'Marck Script', cursive;
   text-shadow: 1px 1px 2px #757574;
   font-size: 5rem;
   color: rgba(56, 38, 25, .8)
}

#title, #tribute-info > h2, h3 {
    font-family: 'Marck Script', cursive;
    color:#6b6b47;
    margin-top: 1%;
    font-size: 10vw;
}
p {
   font-family:'Lucida Sans';
   color: #6b6b47;
   font-size: 28px;
   margin-top: -3%;
   line-height: 1;
}

p.content {
    font-family:'Lucida Sans';
    color: #6b6b47;
    margin-top : -5%;
    font-size: 28px;
    padding: 3%;
    line-height: 1.75;
}


#img-div{
    background-color: #f5f5f0;
    border:10px solid #ebebe0;
    margin-bottom: 10px;
}

img {
    box-shadow: 5px 10px 8px #a3a375;
    padding: 1%;
    width: 80%;
    height: auto;
    margin: auto;
}

#img-caption{
    margin:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:larger;
    color: #6b6b47;
}

h3{
    color: #80806b;
    font-size:28px;
}

#tribute-info > h2{
    font-size: 54px;
}

#tribute-info > p{
    width: 80%;
    margin: 20px auto;
}

blockquote {
    display: block;
    color:#31312d;
    font-size: 28px;
    width: 55%;
    margin: auto;
    font-family: 'Marck Script', cursive;;
    padding: 5%;
    text-shadow: 1px 1px 2px #757574;
}

a{
    text-decoration: none;
    color: #31312d;
}

a:hover {
    color: #d1d1a0;
    background-color: #a8a8a1;
}
